<template>
  <v-container>
    <v-row v-if="modo == 1">
      <v-col>
        <v-card>
          <v-card-title>
            Subseries
            <v-spacer></v-spacer>
            <v-text-field
              v-model="search"
              append-icon="mdi-magnify"
              label="Buscar"
              single-line
              hide-details
            ></v-text-field>
            <v-spacer></v-spacer>
            <v-btn color="primary" rounded small @click="modo = 2">Nueva subserie</v-btn>
          </v-card-title>
          <v-data-table
            :headers="headers"
            :items="subseries"
            :search="search"
          >
            
            <template v-slot:item.actions="{ item }">
              <v-btn color="primary" icon @click="editar(item)"><v-icon>edit</v-icon></v-btn>
            </template>

          </v-data-table>


        </v-card>
      </v-col>
    </v-row>

    <v-row v-if="modo == 2 || modo == 3">
      <v-col cols="12">
        <v-card class="transparent elevation-0">
          <v-card-title primary-title>
            Agregar subserie
            <v-spacer></v-spacer>
            <v-btn color="primary" rounded small @click="modo = 1">Cancelar</v-btn>
            <v-btn color="primary" rounded small @click="agregar">Agregar</v-btn>
          </v-card-title>
          <v-card-text>
            <v-row>
              <v-col cols="12" md="4">
                <v-select 
                  dense
                  outlined
                  :items="series"
                  v-model="serie"
                  :hint="` ${serie.idserie}`"
                  item-text="nomserie"
                  item-value="idserie" 
                  label="Serie"
                  persistent-hint
                  return-object
                  single-line
                ></v-select>
              </v-col>
              <v-col cols="12" md="4">
                <v-text-field
                  outlined
                  dense
                  label="nombre"
                  v-model="nomsubserie"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="10" md="4">
                <v-file-input
                  placeholder="Agrega el manual"
                  label="Manual"
                  v-model="docum1"
                ></v-file-input>
              </v-col>
              <v-col cols="2" md="1">
                <v-btn color="primary" icon @click="cargar()"><v-icon>backup</v-icon></v-btn>
              </v-col>
              <v-col cols="10" md="4">
                <v-file-input
                  placeholder="Agrega el Diagrama de partes"
                  label="Diagrama de partes"
                  v-model="docum2"
                ></v-file-input>
              </v-col>
              <v-col cols="2" md="1">
                <v-btn color="primary" icon @click="cargar2()"><v-icon>backup</v-icon></v-btn>
              </v-col>
            </v-row>

            <v-row>
              <v-col cols="10" md="4">
                <iframe :src="documurl1" width="100%" height="500" v-if="documurl1"></iframe>
              </v-col>
              
              <v-col cols="10" md="4">
                <iframe :src="documurl2" width="100%" height="500" v-if="documurl2"></iframe>
              </v-col>
            </v-row>
          </v-card-text>    
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  import mixinsSerie from '@/mixins/mixinsSerie.js'
  export default {
    mixins:[mixinsSerie],
    data () {
      return {
        idsubserie:'',
        series:[],
        serie:{idserie: '', nomserie:''},

        docum1:[],
        docum2:[],
        documurl1:'',
        documurl2:'',

        nomsubserie:'',

        modo:1,
        search: '',
        headers: [
          {
            text: 'Subserie',
            align: 'start',
            sortable: false,
            value: 'nomsubserie',
          },
          { text: 'Serie', value: 'nomserie' },
          { text: 'Manual', value: 'docum1' },
          { text: 'D. de partes', value: 'docum2' },
          { text: 'Editar', value: 'actions' },
        ],

        subseries:[],
        
      }
    },

    created(){
      this.subseries = []
      this.getSeries()
      this.getSubseries()
    },

    methods:{
      agregar(){
        var payload = {
          nomsubserie: this.nomsubserie,
          idserie: this.serie.idserie,
          estatus: 1,
          docum1: this.docum1.name,
          docum2: this.docum2.name
        }

        if(this.modo == 2){
          this.$http.post('clasificacion.subserie.add',payload).then(response=>{
            this.getSubseries()
            this.modo = 1
            this.nomsubserie =''
            this.docum1 =[]
            this.docum2 =[]
          }).catch(error=>{console.log(error)})
        }else{
          this.$http.put('clasificacion.subserie.update/' + this.idsubserie, payload).then(response=>{
            this.getSubseries()
            this.modo = 1
            this.nomsubserie =''
            this.docum1 =[]
            this.docum2 =[]
          }).catch(error=>{console.log(error)})
        }
      },

      cargar(){
        console.log(this.docum1)
        let formData = new FormData();
        //se crea el objeto y se le agrega como un apendice el archivo 
        formData.append('file', this.docum1);
        this.$http.post('pdfs', formData).then(response=>{
          this.documurl1 = this.$http.options.root + 'pdfs/' + this.docum1.name
        }).catch(error=>{console.log(error)})
      },

      cargar2(){
        let formData = new FormData();
        //se crea el objeto y se le agrega como un apendice el archivo 
        formData.append('file', this.docum2);
        this.$http.post('pdfs', formData).then(response=>{
          this.documurl2 = this.$http.options.root + 'pdfs/' + this.docum2.name
        }).catch(error=>{console.log(error)})
      },

      editar(item){
        this.modo = 3
        this.nomsubserie = item.nomsubserie
        this.idsubserie = item.idsubseries
        this.serie = {idserie: item.idserie, nomserie: item.nomserie}
        this.documurl1 = this.$http.options.root + 'pdfs/' + item.docum1
        this.documurl2 = this.$http.options.root + 'pdfs/' + item.docum2
        this.docum1 = {name: item.docum1}
        this.docum2 = {name: item.docum2}
      }

    }
  }
</script>