<template>
	<v-container>
		<v-row no-gutters>
			<v-col cols="12" class="pa-0" >
				<v-card class="elevation-0 transparent" >
				  <v-card-title class=" font-weight-black"> 
				  	LISTADO DE SERIES 
				  	<v-spacer></v-spacer>
				  </v-card-title>
				</v-card>
			</v-col>
		</v-row>

		<v-row>
			<v-col cols="12" >
				<v-card class="elevation-0 transparent" >
				  <v-card-text>
				    <v-text-field
				      v-model="search"
				      label="Buscar una serie"
				      outlined
				      append-icon="search"
				      dense
							hide-details
				    ></v-text-field>
				  </v-card-text>
				</v-card>
			</v-col>
		</v-row>

		<v-row>
			<v-col cols="12" xl="2" lg="3" md="4" sm="6" v-for="(serie,i) in filterSeries" :key="i"  v-if="serie.subseries.length > 0">
				<v-card class="elevation-10"  >
				  <v-img :src="serie.imagename" contain height="200"/>
				  <v-card-actions>
				  	<v-spacer></v-spacer>
				  	<h3 class="primary--text">Serie: {{serie.nomserie}}</h3>
				  	<v-spacer></v-spacer>
				  	<v-btn
			        icon
			        @click.native="serie.show = !serie.show"
							color="primary"
			      >
			        <v-icon>{{ serie.show ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
			      </v-btn>
				  </v-card-actions>

				  <v-card-text>
				  	<v-expand-transition>
				      <div v-show="serie.show">
				        <v-divider></v-divider>

				        <v-card-text>
				          <v-list-item v-for="(sub, x) in serie.subseries" :key="x" v-if="sub.idserie == serie.idserie" @click="verDetalle(sub)" dense>
							      <v-list-item-content >
							        <v-list-item-title align="left"><v-icon left color="primary">description</v-icon> {{ sub.nomsubserie }}
							        </v-list-item-title>
							      </v-list-item-content>
							    </v-list-item>
				        </v-card-text>
				      </div>
				    </v-expand-transition>
				  </v-card-text>	
				</v-card>
			</v-col>	
		</v-row>

	</v-container>
</template>

<script>
export default {
    data:()=>({
    	search:'',
      series:[],
      subseries:[],
      show: false,
    }),

    created(){
    	this.getSeries()
			this.getSubseries()
    },

    methods:{
	    getSeries(){
	    	this.series = []
	      this.$http.get('clasificacion.series').then(response=>{
	      	var series = response.body
	      	this.$http.get('clasificacion.subseries').then(response=>{
		        this.subseries = response.body
		      	for (var i = 0; i <= series.length - 1; i++) {
		      		console.log(series[i].imagename)
		      		console.log(i)
		          if(series[i].imagename != ''){
		            series[i].imagename = this.$http.options.root + 'fotos/' +  series[i].imagename
		          }
          		this.series.push({
		          	nomserie: series[i].nomserie,
		          	idserie: series[i].idserie,
		          	show: false,
		          	imagename: series[i].imagename,
		          	subseries:[]
		          })
		          for (var j = 0; j <= this.subseries.length - 1; j++) {
		          	if(this.subseries[j].idserie == series[i].idserie){
		          		this.series[i].subseries.push(this.subseries[j])
		          	}
		          }
		      	}
		      }).catch(error=>{console.log(error)})
	      }).catch(error=>{console.log(error)})
	    },

	    getSubseries(){
	    	this.subseries = []
	      this.$http.get('clasificacion.subseries').then(response=>{
	        this.subseries = response.body
	      }).catch(error=>{console.log(error)})
	    },

	    verDetalle(subserie){
	    	this.$router.push({name:'versubserie', params:{docum: subserie.docum1 ,detalle: subserie}})
	    }
	  },

	  computed:{
	  	filterSeries: function(){
    		var me = this
	    	if(this.series){
		      return this.series.filter((serie)=>{
		        var nom = serie.nomserie.toLowerCase();
		        return nom.match(this.search.toLowerCase());
		      })
	    	}
	    },
	  }

}
</script>