<template>
  <v-container>

    <v-app-bar  fixed  v-ripple class="mt-12 elevation-0">
      <v-row>
        <v-btn color="primary" class="mr-2"@click="verPdf1()"   >PDF Manual</v-btn>
        <v-btn color="secondary" @click="verPdf2()"   >PDF D. Partes</v-btn>
      </v-row>
        <v-btn color="secondary" @click="limipar()"   >Limpiar</v-btn>
    </v-app-bar>

      <v-row class="mt-12">
        <v-btn color="red darken-4" dark fixed right fab> {{page}} </v-btn>
      </v-row>

      <v-row justify="center" align="center">
        <v-col :cols="6"  align="center"> 
          <pdf 
            align="center"
            :src="pdfdata2" 
            v-for="i in numPages" :key="i" :id="i" :page="i"
            :scale.sync="scale" >
            <template slot="loading">
              loading content here...
            </template>
          </pdf>
        </v-col>

        <!-- <v-col :cols="6"   align="center"> 
          <pdf 
            align="center"
            :src="src" 
            v-for="i in numPages" :key="i" :id="i" :page="i"
            >
            <template slot="loading">
              loading content here...
            </template>
          </pdf>
        </v-col> -->
      </v-row>

      <v-footer padless fixed class="font-weight-bold pb-2 pt-2" >
        <v-spacer></v-spacer>
        <v-btn color="success"  
          @click="page > 1 ? page-- : page=page" 
          small fab class="mr-2">
          <v-icon right>arrow_back_ios</v-icon>
        </v-btn>

        <v-btn color="orange" dark  
          @click="page < numPages ? page++ : 1" 
          small fab class="mr-2">
          <v-icon center>arrow_forward_ios</v-icon>
        </v-btn>

        <v-text-field 
          dense
          outlined
          name="name"
          label="Buscar"
          v-model="palabra"
          hide-details
        ></v-text-field>
        <v-btn color="success" @click="FindNext" fab small class="ml-2"><v-icon>search</v-icon></v-btn>
       <!--    
        <v-btn color="orange" dark @click="scale -= scale > 0.2 ? 0.1 : 0">
            ZOOM --
        </v-btn>

        <v-btn color="purple" dark @click="scale += scale < 2 ? 0.1 : 0">
            ZOOM ++
        </v-btn> -->
        <v-spacer></v-spacer>
      </v-footer>
  </v-container>
</template>

<script>
import pdfvuer from 'pdfvuer'

  export default {
    components: {
      pdf: pdfvuer
    },
    data () {
      return {
        palabra:'',

        page: 1,
        numPages: 0,
        pdfdata2: undefined,
        errors: [],
        scale: 'page-width',
        palabra:'',
        size:12,

        docum1:'',
        docum2:'',
        detalle:'',
        verDocumento:'',
      }
    },
    computed: {
      formattedZoom () {
          return Number.parseInt(this.scale * 80);
      },
      
    },
    mounted () {
      this.docum1 = this.$route.params.detalle.docum1
      this.docum2 = this.$route.params.detalle.docum2
      this.detalle = this.$route.params.detalle
      this.verDocumento = this.docum2
      var url2 = 'http://www.testsnode.com/mikai-vpdf/pdf/' + this.verDocumento
      console.log(url2)
      this.getPdf(url2)
    },

    watch: {
      show: function (s) {
        if(s) {
          this.getPdf();
        }
      },
      page: function (p) {
        if( window.pageYOffset <= this.findPos(document.getElementById(p)) || ( document.getElementById(p+1) && window.pageYOffset >= this.findPos(document.getElementById(p+1)) )) {
          window.scrollTo(0,this.findPos(document.getElementById(p)));
          // document.getElementById(p).scrollIntoView();
        }
      },

      // palabra: function (p){
      //   this.find(p)
      // }
    },

    methods: {
      getPdf (url) {
        var self = this;
        self.pdfdata2 = pdfvuer.createLoadingTask(url);
        // self.pdfdata2 = pdfvuer.createLoadingTask(url);
        self.pdfdata2.then(pdf => {
          self.numPages = pdf.numPages;
          window.onscroll = function() { 
            self.changePage() 

          }
        });
      },

      changePage () {
        var self = this;
        var i = 1, count = Number(self.numPages);
        do {
          if(window.pageYOffset >= self.findPos(document.getElementById(i)) && 
              window.pageYOffset <= self.findPos(document.getElementById(i+1))) {
            self.page = i
          }
          i++
        } while ( i < count)
        if (window.pageYOffset >= self.findPos(document.getElementById(i))) {
          self.page = i
        }
      },

      findPos(obj) {
        return obj.offsetTop ;
      },


      FindNext () {
        var str = this.palabra;
        if (str == "") {
            alert ("Please enter some text to search!");
            return;
        }

        var supported = false;
        var found = false;
        if (window.find) {        // Firefox, Google Chrome, Safari
          supported = true;
              // if some content is selected, the start position of the search 
              // will be the end position of the selection
          found = window.find (str);
        }
        else {
          if (document.selection && document.selection.createRange) { // Internet Explorer, Opera before version 10.5
            var textRange = document.selection.createRange ();
            if (textRange.findText) {   // Internet Explorer
              supported = true;
                // if some content is selected, the start position of the search 
                // will be the position after the start position of the selection
              if (textRange.text.length > 0) {
                textRange.collapse (true);
                textRange.move ("character", 1);
              }

              found = textRange.findText (str);
              if (found) {
                textRange.select ();
              }
            }
          }
        }

        if (supported) {
          if (!found) {
            alert ("The following text was not found:\n" + str);
          }
        }
        else {
          alert ("Your browser does not support this example!");
        }
      },

      verPdf1(){
        this.verDocumento = this.docum1
        this.$router.push({name:'versubserie', params:{docum: this.docum1, detalle: this.detalle}})
      },

      verPdf2(){
        this.verDocumento = this.docum2
        this.$router.push({name:'versubserie2', params:{docum: this.docum2, detalle: this.detalle}})
      },

    }
  }
</script>

<style lang="css" scoped>
  #buttons {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  /* Page content */
  .content {
    padding: 16px;
  }
</style>