<template>
  <v-container>
    <v-row>
      <v-snackbar v-model="snackbar" :timeout="4000" top :color="color" > {{text}}
        <v-btn color="white" text @click="snackbar = false" > Cerrar  </v-btn>
      </v-snackbar>

      <v-card width="100%" height="100%" flat>
        <v-card-title primary-title >
          Catálogo de Usuarios

          <v-spacer></v-spacer>

          <v-text-field
            v-model="search"
            append-icon="search"
            label="Buscar Usuarios"
            single-line
            hide-details
          ></v-text-field>

          <v-spacer></v-spacer>
          
          <!-- NUEVO -->
          <v-btn align="right" 
            color="primary" dark small 
            class="ma-2" 
            :to="{ name: 'newusuario' }" >Nuevo
          </v-btn>

          <!-- BOTON EXCEL -->
          <v-btn 
            class="ma-2" 
            small dark color="warning"
            @click="exportar()">
            <v-icon>save_alt</v-icon>
          </v-btn>

          <v-btn  class="secondary" icon dark @click="init" ><v-icon>refresh</v-icon> </v-btn>

        </v-card-title>
              
        <v-data-table
          :loading="loading"        
          :headers="headers"
          :items="usuarios"
          class="elevation-1"
          fixed-header
          height="450"
          hide-default-footer disable-pagination 
          loading-text="Cargando..."
          dense
          :search="search"
          :items-per-page=200
        >
          <template v-slot:item.nivel="{ item }" >
            {{ item.nivel === 'USUARIO'? 'Usuario':'Administrador'}}    
          </template>

          <template v-slot:item.estatus="{ item }" >
            <span v-if="item.estatus == 2" class="green--text">ACTIVO</span>
            <span v-if="item.estatus == 1" class="red--text">BAJA</span>
            <span v-if="item.estatus == 0" class="orange--text">INACTIVO</span>
          </template>

          <template v-slot:item.editar="{ item }" >
            <v-btn color="green darken-4" fab x-small dark class="ma-1" @click="editar(item)" >
              <v-icon >edit</v-icon>
            </v-btn>
            
         </template>
        </v-data-table>
      </v-card>
    </v-row>  
  </v-container>
</template>


<script>
  var md5     = require('md5')

  export default {

    data: () => ({
      dialog: false,
      snackbar: false,
      color : 'red darken-4',
      text:'',

      headers: [
        { text: 'ID', align: 'left',sortable: false, value: 'idusuariosweb' },
        { text: 'Nombre'  , value: 'nombre' },
        { text: 'Apellidos'  , value: 'apellidos' },
        { text: 'Email'    , value: 'email' },
        { text: 'Nivel', value: 'nivel'},  
        { text: 'Estatus', value: 'estatus'},  
        { text: 'Acciones', value: 'editar'},  
      ],

      search: '',
      loading: false,
      usuarios: [],
           
    }),

    
    created () {
      this.init()
    },

    methods: {
       editar(item){
        this.$router.push({name:'newusuario', 
              params: {idusuariosweb: item.idusuariosweb}})
      },


      // EXCEL
      exportar(){
        let xls = {
          data:      this.usuarios,
          tHeaders : ['ID', 'Usuario', 'Email', 'Cliente', 'Nombre Cliente', 'ID Vend', 'Vendedor', 'Nivel'],
          filterVal: ['idusuariosweb', 'Nomuser', 'Email', 'numcli', 'Nomcli', 'idvend', 'Nomvend', 'nivel'],
          nomfile :  "Consulta de Usuarios"
        }
         this.exportarXls(xls)
      },

      cambiaEstatus(item,estatus){
        const payload = { id:item.idusuariosweb, estatus: estatus }
        this.$http.post('cambia.estatus',payload).then(response =>{
          this.snackbar=true; this.text=response.body; this.color="green"
          this.init();
        }).catch(err=>{
          console.log('errr',err)
        })
      },

      init () {
        //Consultar Usuarios
        this.loading = true
        this.$http.get('users').then( response => {
          this.usuarios= response.body
        }).catch(error => {
          console.log(error)
        }).finally(()  => this.loading = false) 

      },  



    },

  }
</script>