<template>
  <v-app id="inspire">
    <v-navigation-drawer
      v-if="getLogeado"
      v-model="drawer"
      app
      temporary
      >

      <v-content>
        <img src="http://www.testsnode.com/mikai-vpdf/fotos/logo.png" contain width="100%" height="100%">
      </v-content>

      <v-list dense nav >
        <v-list-item five-line>
        </v-list-item>
      </v-list>
      <v-divider></v-divider>

      <v-list dense nav class="py-0">
        <v-list-item two-line>
          <v-list-item-content>
            <v-list-item-title>  {{ getdatosUsuario.nombre }}  {{getdatosUsuario.apellidos}}</v-list-item-title>
            <v-list-item-subtitle> {{ getdatosUsuario.nivel === 'USUARIO'? 'Usuario':'Administrador' }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <v-divider></v-divider>
      <v-list dense>
        <template v-for="control in AppControl" >
          <v-list-item
            v-for="(child, i) in control.admin"
            :key="i"
            :to="child.path"
            color= "primary"
            v-if="getdatosUsuario.nivel ==='ADMIN'? 
            getdatosUsuario.nivel === child.nivel.admin : child.nivel.user"
          >
            <v-list-item-content >
              <v-list-item-title >
                {{ child.text }} 
              </v-list-item-title>
            </v-list-item-content>
             <v-list-item-icon>
              <v-icon>{{ child.icon }}</v-icon>
            </v-list-item-icon>
          </v-list-item>
        </template>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar app dense color="grey lighten-2"  v-ripple v-if="getLogeado">
      <img src="@/assets/logo.png" height="50" @click.stop="drawer = !drawer">
      <v-spacer></v-spacer>
      <v-btn color="primary" text class="mr-4" :to="{name: 'myperfil'}">
        <v-icon left color="primary">person</v-icon>
        Perfil
      </v-btn>
      <v-btn icon @click="salir" color="primary">
        <v-icon>exit_to_app</v-icon>
      </v-btn>
    </v-app-bar>
    <!-- Ruteo de vistas -->
    <v-content>
      <v-container fluid class="pa-5">
        <v-slide-y-transition mode="out-in">
          <router-view/>
        </v-slide-y-transition>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import store from '@/store'
import {mapGetters, mapActions} from 'vuex'

  export default {
    props: {
      source: String,
    },
    data: () => ({
      logo:'',
      snackbar: false,
      drawer: null,
      AppControl: [
        {
          admin: [ 
            // { text: 'Inicio'   ,icon: 'home' , path: '/home' ,nivel:{admin:true, user:false} },
            { text: 'Usuarios' , icon:'group', path: '/catusuarios'  ,nivel:{admin:'ADMIN', user:false} },
            { text: 'Series' , icon:'list', path: '/listseries' ,nivel:{admin:'ADMIN', user:true}},
            { text: 'Admin Series' , icon:'dynamic_feed', path: '/tabseries',nivel:{admin:'ADMIN', user:false} },

            ],
        }
       
      ],
    }),

    created(){ },

    methods:{
      ...mapActions('Login', ['salirLogin']),

      salir(){
        this.salirLogin()
        // Mando a llamar la accion salir
        this.$store.dispatch("salir")
      },

    },

    computed:{
     ...mapGetters('Login', ['getdatosUsuario', 'getLogeado']),
    //  ...mapGetters('tema', ['getTema']),
    
      logueado(){
        return this.$store.state.usuario;
      },
    }
}



</script>


